# <font color = 'orange'>Map
    * Not compulsary to use 
    * map(func, *iterables) --> map object

#### Q1. Create a list of square of a given list.

In [8]:
l = [1,2,3,4,5]

In [15]:
def fun(l):
    tem = []
    for i in l :
        tem.append(i*i)
    return tem

print(l)
print(fun(l))

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [16]:
# using list comprehension 
sq1 = [i*i for i in l]

print(l)
print(sq1)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [17]:
# using map function
def squ(x): 
    return x*x
sq2 = list(map(squ,l))

print(l)
print(sq2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [18]:
# using lambda function in place of function in map function
sq2 = list(map(lambda x : x*x,l))

print(l)
print(sq2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

#### Q2. Create a list by adding other 2 lists.

In [30]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

l3 = list(map((lambda a,b : a+b),l1,l2))

print(l3)

[7, 9, 11, 13, 15]

#### Q3. change the string to uppercase

In [25]:
s = "pwskills"
# ''.join(list(map(lambda x : x.upper() , s)))
list(map(lambda x : x.upper() , s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

---

# <font color = 'orange'>Reduce
    * By default it will be not available we have to import.
    * reduce(func, iterables , intializer) --> respective output.
    * It is specially designed for the functions with more that 2 parameters.

#### Q1. Give the sum of all elements of the list.

In [28]:
from functools import reduce

l = [1,2,3,4,5,4]

19
20

In [32]:
def add(a,b):
    return a+b

print(reduce(add,l))
print(reduce(add,l,1))

19
20

In [31]:
# using lambda function
print(reduce(lambda x,y:x+y,l))
print(reduce(lambda x,y:x+y,l,1))

19
20

* In reduce , take only **2 parameters** and it is designed for that.
* Do not take more that 2 parameters in function it will not work.

In [35]:
# It will not work for function more than 2 parameters.
# Sometimes, it may work.
reduce(lambda x , y , z : x+y+z , l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [36]:
# it will not work for empty list
reduce(lambda x , y : x+y , [])

TypeError: reduce() of empty sequence with no initial value

####  * <font color='red'> Exception case.

In [38]:
reduce(lambda x , y : x+y , [4])

4

#### Q2. Give the largest of all elements of the list.

In [47]:
l1 = [1, 2, 31, 4, 5, 6]
print(l1)

reduce((lambda x,y: x if x>y else y),l1)

[1, 2, 31, 4, 5, 6]

31

---

# <font color = 'orange'>Filter

#### Q1. Give all the even numbers in the list.

In [57]:
l2 = [1, 2, 3, 4, 5, 6]

list(filter((lambda x : x%2==0), l2))

[2, 4, 6]

#### Q2. Give all the positive numbers in the list.

In [56]:
l3 = [-2,4,-9,5,6,-3,-6,1,-7]

list(filter((lambda x : x>0), l3))

[4, 5, 6, 1]

#### Q3. Give all the name with length less than 6 in the list.

In [59]:
l4 = ["sudh" , "pwskills" , "kumar" , "bengalore" , "krish"]

list(filter((lambda x: len(x)<7),l4))

['sudh', 'kumar', 'krish']