# <font color = 'orange'> Assignment-11 solutions

---

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### A database is a structured collection of data that is organized and stored in a way that makes it easy to access, manage, and retrieve information.
#### SQL is Structured Query Language that used to store the structured data in the form of rows and columns.
#### NOSQL is Not only SQL that used to store unstructured data in the form of collection in the document.

---

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### DDL is Data Definition Language used to defining, managing and manipulating database.DDL is responsible for creating , altering and deleting database.

#### 1. Create : Create is used to create the reation,veiw, database.
#### ex: CREATE TABLE <table name\>;

#### 2. Drop : Drop is used to delete the database , realations and more.
#### ex: DROP TABLE <table name\>;

#### 3. ALTER : Alter is used to modify the existing database objects structure.
#### ex: ALTER TABLE customers DROP COLUMN phone_number;

#### 4.TRUNCATE : Truncate is used to quickly and efficitenly delete the data from the table by retaining the table structure , constraints and indexes.
#### ex: TRUNCATE TABLE table_name

---

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### DML is Data manipulation language which is used to manipulate the data present in the database.


#### 1. Insert : Insert is used to insert the values inside the realtion.
#### ex:  INSERT INTO employees (first_name, last_name, salary) VALUES ('John', 'Doe', 50000);

#### 2. Update : Update is used to update the values that are already exhist inside the realtion.
#### ex : UPDATE employees SET salary = salary * 1.1 WHERE department = 'Sales';

#### 3.Delete : Delete is used to delete the row that is present in the relation.
#### ex : DELETE FROM employees WHERE employment_status = 'Resigned';

---

### Q4. What is DQL? Explain SELECT with an example.

#### DQL is Data Query Language used to retrieve data from the database.
#### ex : if we want to select all the column in the database to display we can use select to do SELECT * FROM <Database\>

---

### Q5. Explain Primary Key and Foreign Key.

#### Primary key is a type of key in a realtion using which a tuple in a realtion can be identified uniquely.PK is used to maintain Entity integrity.
#### Foreign Key is a type of key in a relation which refer to the primary key of other realtion which is used to maintain Referential integrity.

---

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [4]:
import mysql.connector 

db = mysql.connector.connect(host = 'localhost' , user = 'root' , password = 'Darshan@25901')

mycursor = db.cursor()
mycursor.execute('CREATE DATABASE college')
db.close()

---

### Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM
2. JOIN
3. WHERE
4. GROUP BY
5. HAVING
6. SELECT
7. DISTINCT
8. ORDER BY
9. LIMIT/OFFSET (Optional)
10. UNION/INTERSECT/EXCEPT (Optional)

---