# Strings

In [1]:
course_name = "Pw Skills Data Science"

In [2]:
course_name

'Pw Skills Data Science'

In [8]:
# string slicing 
print(course_name[:])
print(course_name[::2])
print(course_name[-6:-2])
print(course_name[::-1]) # reversing the string using slicing

Pw Skills Data Science
P klsDt cec
cien
ecneicS ataD sllikS wP

In [10]:
# Concatination

name = "Darshan"
print(course_name + " " + name)

Pw Skills Data Science Darshan

In [15]:
# multiplication of number with string and number 
print(5 * course_name)
print()
print(5 * 4)

Pw Skills Data SciencePw Skills Data SciencePw Skills Data SciencePw Skills Data SciencePw Skills Data Science

20

# Function

1. length    - len(var)
2. find      - var.find(char)
3. count     - var.count(char)
4. split     - var.split(char) [returns the list]
5. partition - var.partition(char) [returns the tuple]
6. upper     - var.upper()
7. lower     - var.lower()
8. isupper   - var.isupper()
9. islower   - var.islower()
10. swapcase - var.swapcase()
11. title    - var.title()
12. capitalize - var.capitalize()
13. reversed - var.reversed()
14. join - ' '.join(string)
---
15. strip - var.strip('')
16. lstrip - var.lstrip('')
17. rstrip - var.rstrip('')
---
18. replace - var.replace(old,new)
---
19. center - var.center(length,char)
---
20. startswith - var.startswith(char)
21. endswith - var.endswith(char)
---
22. isalnum - var.isalnum()
23. istitle - var.istitle()
24. isspace - var.isspace()

In [36]:
c = "Pw Skills Data Science"
print(c)

Pw Skills Data Science

In [73]:
print("length : ",len(c))
print()
print("find 'l': ",c.find('l'))
print()
print("find right most 'l': ",c.rfind('l'))
print()
print("count 'l' : ",c.count('l'))
print()
print("split 'i' : ",c.split('i'))
print()
print("partition according to first 'i' : ",c.partition('i')) 
print()
print("converting to upper case : ",c.upper())
print()
print("converting to lower case : ",c.lower())
print()
print(c)
print("checking upper case : ",c.isupper())
print()
print("checking lower case : ",c.islower())
print()
print("Swapping case : ",c.swapcase())
print()
c = c.lower()
print(c)
print("title : ",c.title())
print()
print("counting space using count : ",c.count(''))
print()
print("String captializing : ",c.capitalize())
print()
print("Center function : ",c.center(30,'-'))
print()
print('using of expand tabs function : hello\t\thi'.expandtabs())

length :  22

find 'l':  6

find right most 'l':  7

count 'l' :  2

split 'i' :  ['pw sk', 'lls data sc', 'ence']

partition according to first 'i' :  ('pw sk', 'i', 'lls data science')

converting to upper case :  PW SKILLS DATA SCIENCE

converting to lower case :  pw skills data science

pw skills data science
checking upper case :  False

checking lower case :  True

Swapping case :  PW SKILLS DATA SCIENCE

pw skills data science
title :  Pw Skills Data Science

counting space using count :  23

String captializing :  Pw skills data science

Center function :  ----pw skills data science----

using of expand tabs function : hello           hi

In [59]:
# tell wheather the character is vowel or not 
name = "ineuron"
vowel = 'aAeEiIoOuU'
for n in name :
    if n in vowel :
        print(f"{n} is a vowel.")
    else :
        print(f"{n} is not a vowel.")

i is a vowel.
n is not a vowel.
e is a vowel.
u is a vowel.
r is not a vowel.
o is a vowel.
n is not a vowel.

In [64]:
# tell wheather the string is palindrome or not 

def palindrome_check(s):
    n = len(s)
    for i in range(n//2):
        if s[i] != s[n-1-i]:
            return False 
    return True

# s = "hello"
s = "malayalam"
res = palindrome_check(s) 
if res :
    print(f"{s} is a palindrome string.")
else :
    print(f"{s} is not a palindrome string.")

malayalam is a palindrome string.

In [1]:
' '.join(reversed("ant"))

't n a'

In [2]:
' Pwskills '.join(reversed("ant"))

't Pwskills n Pwskills a'

In [7]:
# important
str1="Welcome to Data pwskills.Welcome to Dat cience Masters"
str1.replace("Dat","Data").replace("Data",'hi')

'Welcome to hia pwskills.Welcome to hi cience Masters'

# Important multiplication
* bool * bool => int
* use of not => bool

In [33]:
print(True * True ) 
print(True * False ) 
print(False * True ) 
print(False * False )

1
0
0
0

In [34]:
print(not True * True)
print(not True * False)
print(not False * True )
print(not False * False)

False
True
True
True

In [8]:
#important - bracket precedence is more that not 
print(not(False) * True)
print(not(False) * False)
print((not(False)) * False ) # output datatype
print((not False) * False )  # output datatype

True
True
0
0