# Dictionary

In [1]:
d = {}
type(d)

dict

In [2]:
d1 = {"name" : "sudh" , "email_id" : "ss@gmail.com" , "number" :234324}
d1

{'name': 'sudh', 'email_id': 'ss@gmail.com', 'number': 234324}

In [3]:
print(d1['name'])

sudh

In [4]:
# keys should be unique
d1['usn'] = 2022
d1

{'name': 'sudh', 'email_id': 'ss@gmail.com', 'number': 234324, 'usn': 2022}

---

# Key
* Can take number , string , boolean , tuple as a key in dictionary.
* we cannnot take special character , list , set , dictionary as a key in dictionary.

In [5]:
d3 = {True: 'this is true', (2, 3, 4): 'tuple', 'string': 'hello', 4: 'four'}
print(d3)
print(d3[1])
print(d3[True])

{True: 'this is true', (2, 3, 4): 'tuple', 'string': 'hello', 4: 'four'}
this is true
this is true

In [6]:
d3[[3,4,5,2]] = "list"

TypeError: unhashable type: 'list'

In [7]:
d3[{2:4}] = 9

TypeError: unhashable type: 'dict'

In [8]:
d3[{2,4}] = 9

TypeError: unhashable type: 'set'

---

# Value 
* can be anything integer , string , bool , list , tuple , set , dicitonary

In [9]:
d4 = {'integer': 2 , 'string' : "Darshan", "boolean":True , "list" : [3,4,6,1],"tuple":(5,7,2),"set":{2,5,2,1,2},"dictonary":{"name":"darshan","age":18}}
d4

{'integer': 2,
 'string': 'Darshan',
 'boolean': True,
 'list': [3, 4, 6, 1],
 'tuple': (5, 7, 2),
 'set': {1, 2, 5},
 'dictonary': {'name': 'darshan', 'age': 18}}

In [10]:
for i in d4 :
    print(i , " : " ,d4[i])
    print(" -> ", type(d4[i]))
    print()

integer  :  2
 ->  <class 'int'>

string  :  Darshan
 ->  <class 'str'>

boolean  :  True
 ->  <class 'bool'>

list  :  [3, 4, 6, 1]
 ->  <class 'list'>

tuple  :  (5, 7, 2)
 ->  <class 'tuple'>

set  :  {1, 2, 5}
 ->  <class 'set'>

dictonary  :  {'name': 'darshan', 'age': 18}
 ->  <class 'dict'>

In [11]:
d4['dictonary']['name']

'darshan'

In [12]:
del d4['string']
d4

{'integer': 2,
 'boolean': True,
 'list': [3, 4, 6, 1],
 'tuple': (5, 7, 2),
 'set': {1, 2, 5},
 'dictonary': {'name': 'darshan', 'age': 18}}

---

# Dictionary function
1. clear - var.clear()
<br><br>
2. keys - var.keys()
3. values - var.values()
4. items - var.items() [returns key and value in form of **list of tuples**]
<br><br>
5. pop - var.pop(key)
6. dict - d.fromkeys((),())
7. update - d1.update(d2) [updates only d1]
<br><br>
8. access - d[key] [Gives **error** if the key is not present in the dictionary]
9. get - d.get(key) [To **avoid error** will accessing value that is not there in dictionary]

In [13]:
d4.clear()
d4

{}

In [14]:
d = {'integer': 2 , 'string' : "Darshan", "boolean":True , "list" : [3,4,6,1],"tuple":(5,7,2),"set":{2,5,2,1,2},"dictonary":{"name":"darshan","age":18}}
print(d)
print()
print("Type :",type(d))
print()
print("Length :",len(d))

{'integer': 2, 'string': 'Darshan', 'boolean': True, 'list': [3, 4, 6, 1], 'tuple': (5, 7, 2), 'set': {1, 2, 5}, 'dictonary': {'name': 'darshan', 'age': 18}}

Type : <class 'dict'>

Length : 7

In [15]:
print(d.keys())
print('-'.center(30,'-'))
print(list(d.keys()))

dict_keys(['integer', 'string', 'boolean', 'list', 'tuple', 'set', 'dictonary'])
------------------------------
['integer', 'string', 'boolean', 'list', 'tuple', 'set', 'dictonary']

In [16]:
print(d.values())
print('-'.center(30,'-'))
print(list(d.values()))

dict_values([2, 'Darshan', True, [3, 4, 6, 1], (5, 7, 2), {1, 2, 5}, {'name': 'darshan', 'age': 18}])
------------------------------
[2, 'Darshan', True, [3, 4, 6, 1], (5, 7, 2), {1, 2, 5}, {'name': 'darshan', 'age': 18}]

In [17]:
list(d.items())

[('integer', 2),
 ('string', 'Darshan'),
 ('boolean', True),
 ('list', [3, 4, 6, 1]),
 ('tuple', (5, 7, 2)),
 ('set', {1, 2, 5}),
 ('dictonary', {'name': 'darshan', 'age': 18})]

In [18]:
# Need an arguement for pop
d.pop('string')

'Darshan'

In [19]:
d11.fromkeys((1,2,3) , ('a','b','c'))

NameError: name 'd11' is not defined

In [20]:
d9 = {"key1" : "value" , "key2" : "value2"}
d10 = {"key3" : "value3" , "key4" :"value4"}
print(d9)
print(d10)
print('-'.center(30,'-'))
d9.update(d10)
print(d9)
print(d10)

{'key1': 'value', 'key2': 'value2'}
{'key3': 'value3', 'key4': 'value4'}
------------------------------
{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}
{'key3': 'value3', 'key4': 'value4'}

In [21]:
print(d9.get('key1'))
print(d9.get('key5'))
print(d9['key5'])

value
None

KeyError: 'key5'

In [22]:
'key5' in d9

False

---
# Dictionary Comprehension

In [23]:
# Create a dictionary with key as number from 1 to 10 and the value as the cube of that corresponding number
cub = {i:i**3 for i in range (1,11) }
print(cub)

print('-'.center(30,'-'))
for key , value in cub.items():
    print(key , value)
    
print('-'.center(30,'-'))
for key in cub.keys():
    print(key,cub[key])

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
------------------------------
1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000
------------------------------
1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

In [24]:
import math
d21 = {i :math.log10(i) for i in range(1,11)}
print(d21)

# give the value of the even key 
print('-'.center(30,'-'))
for key in d21:
    if key%2==0:
        print(d21[key])

{1: 0.0, 2: 0.3010299956639812, 3: 0.47712125471966244, 4: 0.6020599913279624, 5: 0.6989700043360189, 6: 0.7781512503836436, 7: 0.8450980400142568, 8: 0.9030899869919435, 9: 0.9542425094393249, 10: 1.0}
------------------------------
0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0

---

### = (Equal)

In [25]:
d4 = {'dictonary': {'name': 'darshan', 'age': 18}}
d5 = d4

In [26]:
print(d4)
print(d5)

{'dictonary': {'name': 'darshan', 'age': 18}}
{'dictonary': {'name': 'darshan', 'age': 18}}

In [27]:
d4['age'] = 20
print(d4)
print(d5)

{'dictonary': {'name': 'darshan', 'age': 18}, 'age': 20}
{'dictonary': {'name': 'darshan', 'age': 18}, 'age': 20}

---
# Modification in collections type values.

## Shallow copy

In [28]:
d4 = {'dictonary': {'name': 'darshan', 'age': 18}}
d5 = d4.copy()
print(d4)
print(d5)
print('-'.center(30,'-'))
d4['diamond'] = 'ruby'
print(d4)
print(d5)

{'dictonary': {'name': 'darshan', 'age': 18}}
{'dictonary': {'name': 'darshan', 'age': 18}}
------------------------------
{'dictonary': {'name': 'darshan', 'age': 18}, 'diamond': 'ruby'}
{'dictonary': {'name': 'darshan', 'age': 18}}

In [29]:
d4 = {'dictonary': {'name': 'darshan', 'age': 18}}
d5 = d4.copy()
print(d4)
print(d5)
print('-'.center(30,'-'))
d4['dictonary']['name'] = 'krish'
print(d4)
print(d5)

{'dictonary': {'name': 'darshan', 'age': 18}}
{'dictonary': {'name': 'darshan', 'age': 18}}
------------------------------
{'dictonary': {'name': 'krish', 'age': 18}}
{'dictonary': {'name': 'krish', 'age': 18}}

## Deep copy

In [30]:
d4 = {'dictonary': {'name': 'darshan', 'age': 18}}
import copy
d6 = copy.deepcopy(d4)
print(d4)
print(d6)
print('-'.center(30,'-'))
d4['dictonary']['name'] = 'krish'
print(d4)
print(d6)

{'dictonary': {'name': 'darshan', 'age': 18}}
{'dictonary': {'name': 'darshan', 'age': 18}}
------------------------------
{'dictonary': {'name': 'krish', 'age': 18}}
{'dictonary': {'name': 'darshan', 'age': 18}}

---