# <font color = 'orange'> Measure of despersion

---

## Variance and Standard deviation

In [1]:
ages_list = [23,43,23,56,74,32,68,98,45,32]
ages_list

[23, 43, 23, 56, 74, 32, 68, 98, 45, 32]

---

### Using Numpy

In [2]:
import numpy as np

In [3]:
mean = np.mean(ages_list)
print('Mean :',mean)

Mean : 49.4

In [4]:
variance = np.var(ages_list)
print('Variance :',variance)

Variance : 541.64

In [5]:
standard_deviation = np.std(ages_list)
print('Standard Deviation :',standard_deviation)

Standard Deviation : 23.273160507331188

---

### Using Pandas

In [6]:
data = [[10,12,13],[34,23,45],[32,34,21]]
data

[[10, 12, 13], [34, 23, 45], [32, 34, 21]]

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(data,index=['row 1','row 2','row 3'],columns=['column 1','column 2','column 3'])
df

       column 1  column 2  column 3
row 1        10        12        13
row 2        34        23        45
row 3        32        34        21

#### Calculation along the column

In [9]:
# mean = np.mean(df,axis=0)
mean = df.mean(axis = 0)
print('Mean :',mean)

Mean : column 1    25.333333
column 2    23.000000
column 3    26.333333
dtype: float64

In [10]:
variance = df.var(axis=0)
print('Variance :',variance)

Variance : column 1    177.333333
column 2    121.000000
column 3    277.333333
dtype: float64

In [11]:
standard_deviation = df.std(axis =0)
print('Standard Deviation :',standard_deviation)

Standard Deviation : column 1    13.316656
column 2    11.000000
column 3    16.653328
dtype: float64

#### Calculation along the row

In [12]:
mean = df.mean(axis = 1)
print('Mean :',mean)

Mean : row 1    11.666667
row 2    34.000000
row 3    29.000000
dtype: float64

In [13]:
variance = df.var(axis=1)
print('Variance :',variance)

Variance : row 1      2.333333
row 2    121.000000
row 3     49.000000
dtype: float64

In [14]:
standard_deviation = df.std(axis = 1)
print('Standard Deviation :',standard_deviation)

Standard Deviation : row 1     1.527525
row 2    11.000000
row 3     7.000000
dtype: float64

---