# <font color = "orange"> Assignment-1 Solutions

Q1. Create one variable containing following type of data:

(i)string

(ii)list

(iii)float

(iv)tuple

In [1]:
# String
s = "Darshan"
print(s)
type(s)

Darshan

str

In [2]:
# List
l = [1,4.5,'hello',True]
print(l)
type(l)

[1, 4.5, 'hello', True]

list

In [3]:
# Float
f = 7.5
print(f)
type(f)

7.5

float

In [4]:
# Tuple 
t = (2,5,76,1)
print(t)
type(t)

(2, 5, 76, 1)

tuple

---------------------------

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.


What will be the data type of the above given variable.

In [5]:
var1 = ''
type(var1)

str

In [6]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [7]:
var3 = ['DS','ML','Python']
type(var3)

list

In [8]:
var4 = 1 
type(var4)

int

---------------------------

Q3. Explain the use of the following operators using an example:

(i)/

(ii)% 

(iii)//

(iv)**

In [9]:
a = 11
b = 2 

print('a/b = ',a/b)
print('a%b = ',a%b)
print('a//b = ',a//b)
print('a**b = ',a**b)

a/b =  5.5
a%b =  1
a//b =  5
a**b =  121

---------------------------

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [10]:
li = [2,3.5,True,"PW skills",'data science and master',6,9,5.4,False,'darshan']

for item in li :
    print(item)
    print(type(item))
    print()

2
<class 'int'>

3.5
<class 'float'>

True
<class 'bool'>

PW skills
<class 'str'>

data science and master
<class 'str'>

6
<class 'int'>

9
<class 'int'>

5.4
<class 'float'>

False
<class 'bool'>

darshan
<class 'str'>

---------------------------

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [11]:
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))

count = 0 

while (a//b) != 0 :
    a = a//b 
    count += 1 

if count > 0 :
    print("a is",count,"times divisible by b.")
else :
    print("a is not divisble by b.")

Enter the value of a : 200
Enter the value of b : 2
a is 7 times divisible by b.

---------------------------

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [12]:
import random as r 
nums = []

for i in range(25):
    nums.append(r.randint(1,100))
    
print("List : ",nums)
for i in nums :
    if i % 3 == 0 :
        print(i,"is divisable by 3")

List :  [20, 96, 19, 89, 81, 63, 100, 85, 50, 16, 29, 7, 56, 17, 35, 2, 90, 26, 66, 37, 88, 45, 87, 52, 6]
96 is divisable by 3
81 is divisable by 3
63 is divisable by 3
90 is divisable by 3
66 is divisable by 3
45 is divisable by 3
87 is divisable by 3
6 is divisable by 3

---------------------------

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

mutuable means the data structure whose value that can be changed .

immutable means the data structure whose value that cannot be changed .

In [13]:
# mutable 
fruits = ['apple','bannana']
print(fruits)
fruits[1] = 'mango'
print(fruits)

['apple', 'bannana']
['apple', 'mango']

In [14]:
#immutable
name = "darshan"
print(name)
name[3] = 'm'
#gives error because the strings are immutable.
print(name)

darshan

TypeError: 'str' object does not support item assignment

---------------------------