# <font color = 'orange'> Assignment 24 Solutions

---

### Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [18, 19, 20, 19],
    'Grade': [85, 92, 78, 88]
}
df = pd.DataFrame(data)

# Function 1: Display the first few rows of the DataFrame
print("Function 1 - head():")
print(df.head())  # By default, it displays the first 5 rows

# Function 2: Calculate summary statistics
print("\nFunction 2 - describe():")
print(df.describe())

# Function 3: Group and aggregate data
print("\nFunction 3 - groupby() and mean():")
grouped = df.groupby('Age').agg({'Grade': 'mean'})
print(grouped)

# Function 4: Sort the DataFrame by a column
print("\nFunction 4 - sort_values():")
sorted_df = df.sort_values('Grade', ascending=False)
print(sorted_df)

# Function 5: Select specific columns
print("\nFunction 5 - Selecting specific columns:")
selected_columns = df[['Name', 'Grade']]
print(selected_columns)

Function 1 - head():
      Name  Age  Grade
0    Alice   18     85
1      Bob   19     92
2  Charlie   20     78
3    David   19     88

Function 2 - describe():
             Age      Grade
count   4.000000   4.000000
mean   19.000000  85.750000
std     0.816497   5.909033
min    18.000000  78.000000
25%    18.750000  83.250000
50%    19.000000  86.500000
75%    19.250000  89.000000
max    20.000000  92.000000

Function 3 - groupby() and mean():
     Grade
Age
18    85.0
19    90.0
20    78.0

Function 4 - sort_values():
      Name  Age  Grade
1      Bob   19     92
3    David   19     88
0    Alice   18     85
2  Charlie   20     78

Function 5 - Selecting specific columns:
      Name  Grade
0    Alice     85
1      Bob     92
2  Charlie     78
3    David     88

---

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [2]:
def reindex(df):    
    ser = pd.Series([i for i in range(1,len(df)*2+1,2)])
    df = df.set_index(ser)
    return df

data = {'A':[84,23,98],'B':[75,23,23],'C':['hi','bye','come']}
df = pd.DataFrame(data)
print(df)
print()
df = reindex(df)
print(df)

    A   B     C
0  84  75    hi
1  23  23   bye
2  98  23  come

    A   B     C
1  84  75    hi
3  23  23   bye
5  98  23  come

---

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

#### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [3]:
def iter_and_sum(df):
    counter = 0
    s = 0
    for i in df['Values']:
        if counter == 3:
            break
        counter += 1
        s += i 
    print('Sum :',s)

df = pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
print(df)
print()
iter_and_sum(df)

   Values
0      10
1      20
2      30
3      40
4      50

Sum : 60

---

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
def wordcount(df):
    df['Word_Count'] = df['Text'].apply(len)

df = pd.DataFrame({'Text':['darshan','khusgramati','vishwa','amogha']})
print(df)
print()
wordcount(df)
print(df)

          Text
0      darshan
1  khusgramati
2       vishwa
3       amogha

          Text  Word_Count
0      darshan           7
1  khusgramati          11
2       vishwa           6
3       amogha           6

---

### Q5. How are DataFrame.size() and DataFrame.shape() different?

#### DataFrame.size() -> gives the total number of elements present in the dataframe.
#### DataFrame.shape() -> gives the number of row and columns present in the or dimension of the dataframe.

In [5]:
print(df)
print()
print('Size : ',df.size)
print()
print('Shape : ',df.shape)

          Text  Word_Count
0      darshan           7
1  khusgramati          11
2       vishwa           6
3       amogha           6

Size :  8

Shape :  (4, 2)

---

### Q6. Which function of pandas do we use to read an excel file?

In [6]:
# we use read_csv(file name or url) function is used to read the data from the excel sheet

df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

---

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

#### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [7]:
def extract_name(df):
    df['Username'] = df['Email'].apply(lambda x : x[:x.index('@')])

df = pd.DataFrame({'Email':['darshan@gmail.com','krish@google.com','sudh@yahho.com','naik@hotmail.com']})
print(df)
print()
extract_name(df)
print(df)

               Email
0  darshan@gmail.com
1   krish@google.com
2     sudh@yahho.com
3   naik@hotmail.com

               Email Username
0  darshan@gmail.com  darshan
1   krish@google.com    krish
2     sudh@yahho.com     sudh
3   naik@hotmail.com     naik

---

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

#### For example, if df contains the following values:
#### A   B   C
#### 0  3   5   1
#### 1  8   2   7
#### 2  6   9   4
#### 3  2   3   5
#### 4  9   1   2

#### Your function should select the following rows:   
#### A   B   C
#### 1  8   2   7
#### 4  9   1   2

## <font color = 'red'> Sample output given is wrong

#### The function should return a new DataFrame that contains only the selected rows.

In [8]:
def select(df):
    new_df = df[(df['A']>5) & (df['B']<10)]
    return new_df

df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
print(df)
new_df = select(df)
print()
print(new_df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

---

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [9]:
def calcu(df):
    print('Mean :',df['Values'].mean())
    print('Median :',df['Values'].median())
    print('Standard deviation :',df['Values'].std())

df = pd.DataFrame({'Values':[10, 20, 30, 40, 50]})
print(df)
print()
calcu(df)

   Values
0      10
1      20
2      30
3      40
4      50

Mean : 30.0
Median : 30.0
Standard deviation : 15.811388300841896

---

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [10]:
def create_col(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()

import numpy as np 
date = pd.date_range(start='2020-01-01',end='2020-01-10')
sales = np.random.randint(1000,10000,len(date))
df = pd.DataFrame({'Sales':sales,'Date':date})
print(df)
create_col(df)
print()
print(df)

   Sales       Date
0   7330 2020-01-01
1   6547 2020-01-02
2   7931 2020-01-03
3   3406 2020-01-04
4   5364 2020-01-05
5   8391 2020-01-06
6   5052 2020-01-07
7   8051 2020-01-08
8   7772 2020-01-09
9   9383 2020-01-10

   Sales       Date  MovingAverage
0   7330 2020-01-01            NaN
1   6547 2020-01-02            NaN
2   7931 2020-01-03            NaN
3   3406 2020-01-04            NaN
4   5364 2020-01-05            NaN
5   8391 2020-01-06            NaN
6   5052 2020-01-07    6288.714286
7   8051 2020-01-08    6391.714286
8   7772 2020-01-09    6566.714286
9   9383 2020-01-10    6774.142857

---

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

### For example, if df contains the following values:
####          Date
#### 0  2023-01-01
#### 1  2023-01-02
#### 2  2023-01-03
#### 3  2023-01-04
#### 4  2023-01-05

### Your function should create the following DataFrame:
####          Date    Weekday
#### 0  2023-01-01    Sunday
#### 1  2023-01-02     Monday
#### 2  2023-01-03    Tuesday
#### 3  2023-01-04    Wednesday
#### 4  2023-01-05    Thursday

#### The function should return the modified DataFrame.

In [11]:
def extract_weekday(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

df = pd.DataFrame({'Date':pd.date_range(start='2023-01-01',end='2023-01-05')})
print(df)
new_df = extract_weekday(df)
print()
print(new_df)

        Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

---

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [13]:
def select_date_row(df):
    new_ser = df[(df['Date'].dt.month == 1)&(df['Date'].dt.year == 2023)]
    return new_ser

df = pd.DataFrame({'Date':pd.date_range(start='2022-01-01',end='2023-08-01')})
print(df)
print()
new_ser = select_date_row(df)
print('Length of series : ',len(new_ser))
print(new_ser)

          Date
0   2022-01-01
1   2022-01-02
2   2022-01-03
3   2022-01-04
4   2022-01-05
..         ...
573 2023-07-28
574 2023-07-29
575 2023-07-30
576 2023-07-31
577 2023-08-01

[578 rows x 1 columns]

Length of series :  31
          Date
365 2023-01-01
366 2023-01-02
367 2023-01-03
368 2023-01-04
369 2023-01-05
370 2023-01-06
371 2023-01-07
372 2023-01-08
373 2023-01-09
374 2023-01-10
375 2023-01-11
376 2023-01-12
377 2023-01-13
378 2023-01-14
379 2023-01-15
380 2023-01-16
381 2023-01-17
382 2023-01-18
383 2023-01-19
384 2023-01-20
385 2023-01-21
386 2023-01-22
387 2023-01-23
388 2023-01-24
389 2023-01-25
390 2023-01-26
391 2023-01-27
392 2023-01-28
393 2023-01-29
394 2023-01-30
395 2023-01-31

---

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

#### Answer : We need to import the pandas library 
#### import pandas as pd

---