# <font color = 'orange'> Handling imbalance dataset

### There are 2 way of handling the imbalance dataset:

1. Upsampling.
2. Downsampling.

---

In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

---

In [3]:
#  Create my dataframe using imbalanced dataset 

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [4]:
class_0

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [5]:
class_1

    feature_1  feature_2  target
0    1.699768   2.139033       1
1    1.367739   2.025577       1
2    1.795683   1.803557       1
3    2.213696   3.312255       1
4    3.033878   3.187417       1
..        ...        ...     ...
95   1.376371   2.845701       1
96   2.239810   0.880077       1
97   1.131760   1.640703       1
98   2.902006   0.390305       1
99   2.697490   2.013570       1

[100 rows x 3 columns]

In [6]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [7]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[1000 rows x 3 columns]

In [8]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

---

### 1. Upsampling.
we will increare the count of 1 to 900

In [9]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [10]:
from sklearn.utils import resample
# it extra polates that point i.e for minority it will create more new points for that and equalise

In [11]:
df_minority_upsampled = resample(df_minority,replace=True # sample with replacement 
                               ,n_samples = len(df_majority),
                               random_state = 42 )

In [12]:
df_minority_upsampled

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[900 rows x 3 columns]

In [13]:
# adding both of them to single dataframe
df_upsampled = pd.concat([df_majority,df_minority_upsampled])

In [14]:
df_upsampled

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
952   1.188902   2.189189       1
965   3.919526   1.980541       1
976   2.810326   3.604614       1
942   3.621531   2.168229       1
974   1.160887   2.489203       1

[1800 rows x 3 columns]

In [15]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

---

### 2. Downsampling.
we will decrease the count of 0 to 100

In [16]:
df_majority_downsampled = resample(df_majority,
                                   n_samples = len(df_minority),
                                   random_state = 42 )

In [17]:
df_majority_downsampled.shape

(100, 3)

In [18]:
df_downsampled = pd.concat([df_majority_downsampled,df_minority])

In [19]:
df_downsampled

     feature_1  feature_2  target
102   0.712265   0.718151       0
435   1.199988   0.574621       0
860   0.304515  -0.759475       0
270  -1.213385   0.675504       0
106   0.179549  -0.202659       0
..         ...        ...     ...
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

[200 rows x 3 columns]

In [20]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

---